.register {
  width: 50%;
  margin: 30px auto;
}

.register > h1 {
  text-align: center;
}

.register__inputfields {
  margin: 50px 0;
}

.register__label {
  margin: 10px 0;
}

.register__button {
  background-color: #1890ff !important;
  color: white !important;
}
