.login {
  width: 50%;
  margin: 30px auto;
}

.login > h1 {
  text-align: center;
}

.login__inputfields {
  margin: 50px 0;
}

.login__button {
  background-color: #1890ff !important;
  color: white !important;
}

.login__registernow {
  margin: 10px 0;
}

.login__registernow > span {
  color: #1890ff;
  cursor: pointer;
}
